<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/imports :: head}"></head>
<body>
<div th:replace="~{components/topmenu :: navbar}"></div>
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col">
      <a class="float-start ms-n25" th:href="@{/productos/inventario}">
        <button class="btn btn-secondary">
          Volver
        </button>
      </a>
      <a class="float-end me-n25" th:href="@{/productos/reabastecimientos/nuevo}">
        <button class="btn btn-primary">
          <i class="bi bi-node-plus"></i>
          Nuevo Reabastecimiento
        </button>
      </a>
      <a class="float-end me-3" th:href="@{/productos/proveedores/listar}">
        <button class="btn btn-secondary">
          <i class="bi bi-person-vcard"></i>
          Ver Proveedores
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col border rounded-3 p-3">
      <table id="reabastecimientos_table" class="table table-striped border">
        <thead>
        <tr>
          <th>Fecha</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Costo</th>
          <th>Proveedor</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reabastecimiento: ${reabastecimientos}">
          <td th:text="${#dates.format(reabastecimiento.fecha,'dd/MM/yyyy')}"></td>
          <td th:text="${reabastecimiento.producto.tipo}"></td>
          <td th:text="${#numbers.formatDecimal(reabastecimiento.cantidadProducto, 1, 2)+' litro/s'}"></td>
          <td th:text="${#numbers.formatCurrency(reabastecimiento.precio)}"></td>
          <td th:text="${reabastecimiento.proveedor.nombre}"></td>
          <td>
            <a title="Editar" class="d-inline nav-link" th:href="@{/productos/reabastecimientos/editar/{id}(id=${reabastecimiento.id})}">
              <button class="btn btn-sm btn-warning text-dark fs-6">
                <i class="bi bi-pencil-square"></i>
              </button>
            </a>
            <a title="Eliminar" class="d-inline nav-link" th:onclick="'eliminarReabastecimiento('+${reabastecimiento.id}+', this.parentNode.parentNode)'">
              <button class="btn btn-sm btn-danger text-dark fs-6">
                <i class="bi bi-trash"></i>
              </button>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
<footer th:replace="~{components/imports :: footer}"></footer>
<script>
  var reabastecimientos_table = createTable('reabastecimientos_table');
  function eliminarReabastecimiento(reabastecimientoId, elem){
    sweet_confirm("Eliminar reabastecimiento", "¿Desea eliminar el reabastecimiento?", "Si, eliminar", "Volver").
    then( (result)=>{
      if(result.isConfirmed){
        return new Promise((resolve, reject) => {
          $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/productos/reabastecimientos/eliminar/" + reabastecimientoId,
            dataType: 'json',
            success: function(result) {
              resolve("OK");
            },
            error: function(err) {
              reject(err);
            }
          });
        }).then(()=>{
          reabastecimientos_table.row(elem).remove().draw();
          notyf.open({
            type: 'success',
            message: 'El reabastecimiento fue eliminado correctamente.'
          });
          let reabastecimientos_table_body = $("#reabastecimientos_table tbody");
          if(reabastecimientos_table_body.children.length <= 1){
            reabastecimientos_table_body.append('<tr class="odd"><td valign="top" colspan="9" class="dataTables_empty">Ningún dato disponible en esta tabla</td></tr>');
          }
        }).catch((err)=>{
          notyf.open({
            type: 'error',
            message: err.responseJSON.msg
          });
          console.log(err)}
        );
      }
    });
  }
</script>
<div th:replace="~{components/topmenu :: messages}"></div>
</html>