<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="~{components/imports :: head}"></head>
<body>
<div th:replace="~{components/topmenu :: navbar}"></div>
<div class="container-fluid">
  <div th:replace="~{components/topmenu :: messages}"></div>
  <div class="row mb-2">
    <div class="col">
      <a class="float-start" th:href="@{/productos/reabastecimientos/listar}">
        <button class="btn btn-secondary">
          Volver
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form enctype="multipart/form-data" method="post" th:action="@{/productos/reabastecimientos/guardar}" th:object="${reabastecimiento}">
        <input type="hidden" th:field="*{id}">
        <table class="table table-bordered">
          <tr>
            <td><i style="color:red;font-weight: bold">* </i>Fecha</td>
            <td>
              <input class="form-control" th:errorclass="'border border-danger'" th:field="*{fecha}"
                     type="date"/>
              <small class="text-danger" th:errors="*{fecha}"
                     th:if="${#fields.hasErrors('fecha')}"></small>
            </td>
          </tr>
          <tr>
            <td style="width:45%"><i style="color:red;font-weight: bold">* </i>Producto</td>
            <td>
              <select class="form-select" th:if="${productos != null && productos.size > 0}" th:field="*{producto}" th:disabled="${reabastecimiento.id != null && reabastecimiento.producto != null}">
                <option th:each="productoSelect : ${productos}" th:value="${productoSelect.id}" th:text="${productoSelect.tipo}" th:selected="${reabastecimiento.producto != null && productoSelect.id == reabastecimiento.producto.id}"></option>
              </select>
              <small class="text-warning" th:if="${reabastecimiento.id != null && reabastecimiento.producto != null}">*No se puede editar el producto de un reabastecimiento.</small>
              <input type="hidden" th:field="*{producto}" th:if="${reabastecimiento.id != null && reabastecimiento.producto != null}">
              <span class="text-danger" th:if="${productos == null || productos.size() <= 0}">Aún no existen productos</span>
              <small class="text-danger" th:errors="*{producto}"
                     th:if="${#fields.hasErrors('producto')}"></small>
            </td>
          </tr>
          <tr>
            <td><i style="color:red;font-weight: bold">* </i>Cantidad total de producto</td>
            <td>
              <input class="form-control" th:errorclass="'border border-danger'" th:field="*{cantidadProducto}"
                     type="number" min="1" step="0.1" title="Suma de la cantidad total de producto entre todas las unidades compradas"/>
              <small class="text-danger" th:errors="*{cantidadProducto}"
                     th:if="${#fields.hasErrors('cantidadProducto')}"></small>
            </td>
          </tr>
          <tr>
            <td title="Caja desde donde se genera el pago"><i style="color:red;font-weight: bold">* </i>Caja</td>
            <td>
              <select class="form-select" th:errorclass="'border border-danger'" th:field="*{tipoCaja}">
                <option th:each="caja : ${T(com.burbujas.gestionlimpia.models.entities.enums.TipoCaja).values()}"
                        th:value="${caja}" th:text="${caja.displayValue}"
                        th:selected="${reabastecimiento.tipoCaja != null && caja == reabastecimiento.tipoCaja}"></option>
              </select>
              <small class="text-danger" th:errors="*{tipoCaja}"
                     th:if="${#fields.hasErrors('tipoCaja')}"></small>
            </td>
          </tr>
          <tr>
            <td><i style="color:red;font-weight: bold">* </i>Costo total</td>
            <td>
              <div class="input-group">
                <span class="input-group-text">$</span>
                <input class="form-control" th:errorclass="'border border-danger'" th:field="*{precio}"
                       type="number" min="0.00" step="0.5" />
              </div>
              <small class="text-danger" th:errors="*{precio}"
                     th:if="${#fields.hasErrors('precio')}"></small>
            </td>
          </tr>
          <tr>
            <td><i style="color:red;font-weight: bold">* </i>Proveedor</td>
            <td>
              <select class="form-select" th:if="${proveedores != null && proveedores.size > 0}" th:field="*{proveedor}">
                <option th:each="proveedorSelect : ${proveedores}"
                        th:value="${proveedorSelect.id}" th:text="${proveedorSelect.nombre}"
                        th:selected="${reabastecimiento.proveedor != null && proveedorSelect.id == reabastecimiento.proveedor.id}"></option>
              </select>
              <span class="text-danger" th:if="${proveedores == null || proveedores.size() <= 0}">Aún no existen proveedores</span>
              <small class="text-danger" th:errors="*{proveedor}"
                     th:if="${#fields.hasErrors('proveedor')}"></small>
            </td>
          </tr>
        </table>
        <div class="d-flex justify-content-center">
          <input class="btn btn-primary" type="submit" value="Guardar"/>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
<footer th:replace="~{components/imports :: footer}"></footer>
</html>