<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/imports :: head}"></head>
<body>
<div th:replace="~{components/topmenu :: navbar}"></div>
<div class="container-fluid">
   <div th:replace="~{components/topmenu :: messages}"></div>
   <div class="row mb-2">
        <div class="col">
            <a class="float-end me-n25" th:href="@{/pedidos/nuevo/pedidos}">
                <button class="btn btn-primary">
                    <i class="bi bi-box2"></i>
                    Nuevo Pedido
                </button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col border rounded-3 p-3">
        <table id="pedidos_table" class="table table-striped border mt-2">
            <thead>
            <tr>
                <th>Número</th>
                <th>Tipo</th>
                <th>Ingreso</th>
                <th>Entrega</th>
                <th>Cliente</th>
                <th>Prioridad</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pedido: ${pedidos}">
                <td th:text="${pedido.id}"></td>
                <td th:text="${pedido.tipo.descripcion}"></td>
                <td th:text="${#dates.format(pedido.fechaHoraIngreso, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${pedido.fechaHoraEntrega != null ? #dates.format(pedido.fechaHoraEntrega, 'dd/MM/yyyy HH:mm:ss') : 'No entregado'}"></td>
                <td th:text="${pedido.cliente.nombreApellido}"></td>
                <td><span th:text="${pedido.prioridad}"
                    th:class="${
                    pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).BAJA ? 'text-black-50' :
                    (pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).NORMAL ? 'text-dark' :
                    (pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).PRIORITARIO ? 'text-danger' :
                    (pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).URGENTE ? 'text-danger fw-bold' :''
                    )))}"></span>
                </td>
                <td>
                    <h4 th:text="${pedido.estadoActual.displayValue}"
                        th:class="'text-light p-2 badge '+ ${
                        pedido.estadoActual == T(com.burbujas.gestionlimpia.models.entities.enums.EstadoPedido).PENDIENTE ? 'bg-warning' :
                        (pedido.estadoActual == T(com.burbujas.gestionlimpia.models.entities.enums.EstadoPedido).LAVADO ? 'bg-primary' :
                        (pedido.estadoActual == T(com.burbujas.gestionlimpia.models.entities.enums.EstadoPedido).SECADO ? 'bg-secondary' :
                        (pedido.estadoActual == T(com.burbujas.gestionlimpia.models.entities.enums.EstadoPedido).CANCELADO ? 'bg-danger' :
                        (pedido.estadoActual == T(com.burbujas.gestionlimpia.models.entities.enums.EstadoPedido).FINALIZADO ? 'bg-success' : ''
                        ))))}"
                    ></h4>
                </td>
                <td>
                    <a title="Editar" class="d-inline nav-link" th:href="@{/pedidos/{id}(id=${pedido.id})}">
                        <button class="btn btn-sm btn-warning text-dark fs-6">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </a>
                    <a title="Eliminar" class="d-inline nav-link" onclick="return confirm('¿Eliminar el pedido?')"
                       th:href="@{/pedidos/eliminar/{id}(id=${pedido.id})}">
                        <button class="btn btn-sm btn-danger text-dark fs-6">
                            <i class="bi bi-trash"></i>
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
</body>
<footer th:replace="~{components/imports :: footer}"></footer>
<script>
    createTable('pedidos_table');
</script>
</html>