<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/imports :: head}"></head>
<body>
<div th:replace="~{components/topmenu :: navbar}"></div>
<div class="container-fluid">
   <div class="row mb-2">
        <div class="col">
            <a class="float-end me-n25" th:href="@{/pedidos/nuevo/listado}">
                <button class="btn btn-primary">
                    <i class="bi bi-box2"></i>
                    Nuevo Pedido
                </button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col border rounded-3 p-3">
        <table id="pedidos_table" class="table table-striped border">
            <thead>
            <tr>
                <th>Número</th>
                <th>Tipo</th>
                <th>Ingreso</th>
                <th>Entrega</th>
                <th>Cliente</th>
                <th>Descripción</th>
                <th>Prioridad</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pedido: ${pedidos}">
                <td id="pedidoId" th:text="${pedido.id}"></td>
                <td th:text="${pedido.tipo.descripcion}"></td>
                <td th:text="${#dates.format(pedido.fechaHoraIngreso, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${pedido.fechaHoraEntrega != null ? #dates.format(pedido.fechaHoraEntrega, 'dd/MM/yyyy HH:mm:ss') : 'No entregado'}"></td>
                <td th:text="${pedido.cliente.nombreApellido}"></td>
                <td th:text="${pedido.descripcion != null ? pedido.descripcion : 'Sin descripción'}"></td>
                <td><span th:text="${pedido.prioridad}"
                    th:class="${
                    pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).BAJA ? 'text-black-50' :
                    (pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).NORMAL ? 'text-dark' :
                    (pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).PRIORITARIO ? 'text-danger' :
                    (pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).URGENTE ? 'text-danger fw-bold' :''
                    )))}"></span>
                </td>
                <td>
                    <h4 th:text="${pedido.estadoActual.displayValue}"
                        th:class="'estado text-light p-2 badge '+ ${
                        pedido.estadoActual == T(com.burbujas.gestionlimpia.models.entities.enums.EstadoPedido).PENDIENTE ? 'bg-warning' :
                        (pedido.estadoActual == T(com.burbujas.gestionlimpia.models.entities.enums.EstadoPedido).LAVADO ? 'bg-primary' :
                        (pedido.estadoActual == T(com.burbujas.gestionlimpia.models.entities.enums.EstadoPedido).SECADO ? 'bg-secondary' :
                        (pedido.estadoActual == T(com.burbujas.gestionlimpia.models.entities.enums.EstadoPedido).CANCELADO ? 'bg-danger' :
                        (pedido.estadoActual == T(com.burbujas.gestionlimpia.models.entities.enums.EstadoPedido).FINALIZADO ? 'bg-success' :
                        (pedido.estadoActual == T(com.burbujas.gestionlimpia.models.entities.enums.EstadoPedido).COBRADO ? 'bg-info' : ''
                        )))))}"
                    ></h4>
                </td>
                <td>
                    <button th:if="${pedido.estadoActual == T(com.burbujas.gestionlimpia.models.entities.enums.EstadoPedido).FINALIZADO}" type="button" class="btn btn-sm btn-success text-dark fs-6" data-bs-toggle="modal" data-bs-target="#modalCobranza" th:data-pedidoid="${pedido.id}" onclick="setPedidoACobrar(this)">
                        <i class="bi bi-coin"></i>
                    </button>
                    <a th:if="${   pedido.estadoActual != T(com.burbujas.gestionlimpia.models.entities.enums.EstadoPedido).FINALIZADO
                                && pedido.estadoActual != T(com.burbujas.gestionlimpia.models.entities.enums.EstadoPedido).COBRADO  }"
                       title="Editar" class="d-inline nav-link" th:href="@{/pedidos/{id}(id=${pedido.id})}">
                        <button class="btn btn-sm btn-warning text-dark fs-6">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </a>
                    <a title="Eliminar" class="d-inline nav-link" th:onclick="'eliminarPedido('+${pedido.id}+',this.parentNode.parentNode)'">
                        <button class="btn btn-sm btn-danger text-dark fs-6">
                            <i class="bi bi-trash"></i>
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCobranza" tabindex="-1" role="dialog" aria-labelledby="modalCobranzaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCobranzaLabel">Cobranza de Pedido</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center input-group mb-3">
                    <label class="input-group-text" for="inputGroupCaja">Caja</label>
                    <select class="form-select" id="inputGroupCaja">
                        <option value="EFECTIVO">Efectivo</option>
                        <option value="BANCO">Banco</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="cobrarPedido()">Cobrar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:replace="~{components/imports :: footer}"></footer>
<script>
    var pedidoACobrar = null;
    var pedidos_table = createTable('pedidos_table', pageLength=10);
    function eliminarPedido(pedidoId, elem){
        sweet_confirm("Eliminar pedido", "¿Desea eliminar el pedido?", "Si, eliminar", "Volver").
        then( (result)=>{
            if(result.isConfirmed){
                return new Promise((resolve, reject) => {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json",
                        url: "/pedidos/eliminar/" + pedidoId,
                        dataType: 'json',
                        success: function(result) {
                            resolve("OK");
                        },
                        error: function(err) {
                            reject(err);
                        }
                    });
                }).then(()=>{
                    pedidos_table.row(elem).remove().draw();
                    notyf.open({
                        type: 'success',
                        message: 'El pedido fue eliminado correctamente.'
                    });
                    let tabla_pedidos_body = $("#pedidos_table tbody");
                    if(tabla_pedidos_body.children.length <= 1){
                        tabla_pedidos_body.append('<tr class="odd"><td valign="top" colspan="9" class="dataTables_empty">Ningún dato disponible en esta tabla</td></tr>');
                    }
                }).catch((err)=>{
                    notyf.open({
                        type: 'error',
                        message: err.msg
                    });
                    console.log(err)}
                );
            }
        });
    }
    const setPedidoACobrar = (pedidoRow) =>{pedidoACobrar = pedidoRow;}
    const unsetPedidoACobrar = ()=>{pedidoACobrar = null}
    function cobrarPedido(){
        if(pedidoACobrar === null){
            notyf.open({
                type: 'error',
                message: 'Error: no se encontró el pedido.'
            });
            return;
        }
        let tipoCaja = $("#inputGroupCaja").val();
        let pedidoId = pedidoACobrar.dataset.pedidoid;
        console.log(pedidoId);
        if(tipoCaja !== 'EFECTIVO' && tipoCaja !== 'BANCO'){
            notyf.open({
                type: 'error',
                message: 'Error: debe seleccionar una caja para registrar la cobranza.'
            });
            return;
        }
        sweet_confirm("Cobranza de pedido", "¿Desea cobrar el pedido?", "Si, cobrar", "Volver").
        then( (result)=>{
            if(result.isConfirmed){
                return new Promise((resolve, reject) => {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json",
                        url: "/cobrar/" + pedidoId + "/caja/"+tipoCaja,
                        dataType: 'json',
                        success: function(result) {
                            resolve("OK");
                        },
                        error: function(err) {
                            reject(err);
                        }
                    });
                }).then(()=>{
                    notyf.open({
                        type: 'success',
                        message: 'Se registró correctamente la cobranza del pedido.'
                    })
                    let estadoBadge = $(pedidoACobrar.parentNode.parentNode).find(".estado");
                    estadoBadge.removeClass().addClass("estado text-light p-2 badge bg-info").text('Cobrado');
                    $(pedidoACobrar).remove();
                }).catch((err)=>{
                    notyf.open({
                        type: 'error',
                        message: err.msg
                    });
                    console.log(err)}
                ).finally(()=>{
                    $('#modalCobranza').modal('hide');
                });
            }
        });
    }
    $(document).ready(()=>{
        $('#modalCobranza').on('hidden.bs.modal', function () {
            unsetPedidoACobrar()
        });
    });
</script>
<div th:replace="~{components/topmenu :: messages}"></div>
</html>