<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/imports :: head}"></head>
<body>
<div th:replace="~{components/topmenu :: navbar}"></div>
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col">
      <a class="float-end me-n25" th:href="@{/caja/gasto/nuevo}">
        <button class="btn btn-primary">
          <i class="bi bi-currency-dollar"></i>
          Cargar Gasto
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col border rounded-3 p-3">
      <table id="gastos_table" class="table table-striped border">
        <thead>
        <tr>
          <th>Fecha</th>
          <th>Descripción</th>
          <th>Monto</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="gasto: ${gastos}">
          <td th:text="${#dates.format(gasto.fecha, 'dd/MM/yyyy HH:mm')}"></td>
          <td th:text="${gasto.descripcion}"></td>
          <td th:text="${'$'+gasto.monto}"></td>
          <td>
            <a title="Editar" class="d-inline nav-link" th:href="@{/caja/gasto/{id}(id=${gasto.id})}">
              <button class="btn btn-sm btn-warning text-dark fs-6">
                <i class="bi bi-pencil-square"></i>
              </button>
            </a>
            <a title="Eliminar" class="d-inline nav-link" th:onclick="'eliminarGasto('+${gasto.id}+', this.parentNode.parentNode)'">
              <button class="btn btn-sm btn-danger text-dark fs-6">
                <i class="bi bi-trash"></i>
              </button>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
<footer th:replace="~{components/imports :: footer}"></footer>
<script>
  var gastos_table = createTable('gastos_table');
  function eliminarGasto(gastoId,elem){
    sweet_confirm("Eliminar gasto", "¿Desea eliminar el gasto?", "Si, eliminar", "Volver").
    then( (result)=>{
      if(result.isConfirmed){
        return new Promise((resolve, reject) => {
          $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/caja/gasto/eliminar/" + gastoId,
            dataType: 'json',
            success: function(result) {
              resolve("OK");
            },
            error: function(err) {
              reject(err);
            }
          });
        }).then(()=>{
          gastos_table.row(elem).remove().draw();
          notyf.open({
            type: 'success',
            message: 'El gasto fue eliminado correctamente.'
          });
          let gastos_table_body = $("#gastos_table tbody");
          if(gastos_table_body.children.length <= 1){
            gastos_table_body.append('<tr class="odd"><td valign="top" colspan="9" class="dataTables_empty">Ningún dato disponible en esta tabla</td></tr>');
          }
        }).catch((err)=>{
          notyf.open({
            type: 'error',
            message: err.responseJSON.msg
          });
          console.log(err)}
        );
      }
    });
  }
</script>
<div th:replace="~{components/topmenu :: messages}"></div>
</html>