<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="~{components/imports :: head}"></head>
<body>
<div th:replace="~{components/topmenu :: navbar}"></div>
<div class="container-fluid">
  <div th:replace="~{components/topmenu :: messages}"></div>
  <div class="row mb-2">
    <div class="col">
      <a class="float-start" th:href="@{/productos/proveedores/listar}">
        <button class="btn btn-secondary">
          Volver
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form enctype="multipart/form-data" method="post" th:action="@{/productos/proveedores/guardar}" th:object="${proveedor}">
        <input type="hidden" th:field="*{id}">
        <table class="table table-bordered">
          <tr>
            <td>Nombre</td>
            <td>
              <input class="form-control" th:errorclass="'border border-danger'" th:field="*{nombre}"
                     type="text"/>
              <small class="text-danger" th:errors="*{nombre}"
                     th:if="${#fields.hasErrors('nombre')}"></small>
            </td>
          </tr>
        </table>
        <div class="d-flex justify-content-center">
          <input class="btn btn-primary" type="submit" value="Guardar"/>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
<footer th:replace="~{components/imports :: footer}"></footer>
</html>