<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="~{components/imports :: head}"></head>
<body>
<div th:replace="~{components/topmenu :: navbar}"></div>
<div th:replace="~{components/imports :: styles}"></div>
<div class="container">
  <div th:replace="~{components/topmenu :: messages}"></div>
  <div class="row mb-2">
    <div class="col">
      <a class="float-start" th:href="@{/productos/reabastecimientos/listar}">
        <button class="btn btn-secondary">
          Volver
        </button>
      </a>
      <a class="float-end" th:href="@{/productos/proveedores/nuevo}">
        <button class="btn btn-primary">
          <i class="bi bi-plus-circle"></i>
          Nuevo Proveedor
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col border rounded-3 p-2">
      <table id="proveedores_table" class="table table-striped border mt-2">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Reabastecimientos</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="proveedor: ${proveedores}">
          <td th:text="${proveedor.id}"></td>
          <td th:text="${proveedor.nombre}"></td>
          <td th:if="${proveedor.reabastecimientos != null && proveedor.reabastecimientos.size() > 0 }">
            <ul>
              <li th:each="reabastecimiento : ${proveedor.reabastecimientos}" th:text="${#dates.format(reabastecimiento.fecha, 'yyyy/MM/dd')} +  ' - ' + ${reabastecimiento.producto.tipo}"></li>
            </ul>
          </td>
          <td th:if="${proveedor.reabastecimientos == null || proveedor.reabastecimientos.size() <= 0 }">Sin reabastecimientos aún</td>
          <td>
            <a class="d-inline nav-link" th:href="@{/productos/proveedores/editar/{id}(id=${proveedor.id})}">
              <button class="btn btn-warning">
                Editar
              </button>
            </a>
            <a class="d-inline nav-link" onclick="return confirm('¿Eliminar el proveedor?')"
               th:href="@{/productos/proveedores/eliminar/{id}(id=${proveedor.id})}">
              <button class="btn btn-danger">
                Eliminar
              </button>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
<footer th:replace="~{components/imports :: footer}"></footer>
<script>
  createTable('proveedores_table');
</script>
</html>