<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!--header-->
<head th:fragment="head">
  <meta charset="UTF-8"/>
  <title th:if="${titulo != null}" th:text="${titulo}"></title>
  <link rel="icon" type="image/x-icon" th:href="@{/images/logo.png}">
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/webjars/datatables/1.13.5/css/jquery.dataTables.min.css">
</head>
<!--footer-->
<footer style="margin-top:20%" th:fragment="footer">
  <script src="/webjars/jquery/3.7.0/jquery.min.js"></script>
  <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
  <script src="/webjars/datatables/1.13.5/js/jquery.dataTables.min.js"></script>
  <script th:inline="javascript">
    let translationUrl = /*[[@{~/vendor/datatables/datatables_spanish.json}]]*/'';
    function createTable(tableName){
      let table = new DataTable('#'+tableName,{
        responsive: true,
        language: {
          url: translationUrl
        }
      });
    }
  </script>
</footer>
<!--estilos globales-->
<style th:fragment="styles">
  .dataTables_wrapper .dataTables_filter{
    margin-bottom: 10px;
  }
  table.dataTable tbody td {
    padding: 8px 20px;
  }
  .messages{
    cursor:pointer;
  }
</style>
</html>

