<!DOCTYPE html>
<!--suppress RequiredAttributes -->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="snap-grid" th:fragment="maquinas">
  <div class="row">
    <div class="col-4">
      <!-- lavadoras -->
      <div th:each="nro : ${#numbers.sequence(1,3)}" class="row mt-2 mb-2 draggable">
        <div class="card p-0">
          <div th:text="${'Lavadora '+ nro}" class="card-header user-select-none"></div>
          <div class="card-body">
            <select class="form-select">
              <option>Pedido 1</option>
              <option>Pedido 2</option>
              <option>Pedido 3</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4"><!-- separador --></div>
    <div class="col-4">
      <!-- secadoras -->
      <div th:each="nro : ${#numbers.sequence(1,3)}" class="row mt-2 mb-2 draggable">
        <div class="card p-0">
          <div th:text="${'Secadora '+ nro}" class="card-header"></div>
          <div class="card-body">
            <select class="form-select">
              <option>Pedido 1</option>
              <option>Pedido 2</option>
              <option>Pedido 3</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:fragment="maquinas_js">
  <script>
    const scrollContainer = document.querySelector(".container-pedidos");

    scrollContainer.addEventListener("wheel", (evt) => {
      evt.preventDefault();
      scrollContainer.scrollLeft += evt.deltaY;
    });
  </script>
<script>
</script>
</div>
</body>
</html>