<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/imports :: head}"></head>
<body>
<div th:replace="~{components/topmenu :: navbar}"></div>
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col">
            <a th:if="${mostrarEliminados}" class="float-start ms-n2" th:href="@{/productos/listar}">
                <button class="btn btn-secondary">
                    <i class="bi bi-list-ul"></i>
                    Volver al listado
                </button>
            </a>
            <a th:if="${!mostrarEliminados}" class="float-end me-n25" th:href="@{/productos/eliminados}">
                <button class="btn btn-secondary">
                    <i class="bi bi-trash2"></i>
                    Ver Eliminados
                </button>
            </a>
            <a th:if="${!mostrarEliminados}" class="float-end me-2" th:href="@{/productos/nuevo}">
                <button class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>
                    Nuevo Producto
                </button>
            </a>
            <a th:if="${!mostrarEliminados}" class="float-end me-2" th:href="@{/productos/reabastecimientos/listar}">
                <button class="btn btn-dark">
                    <i class="bi bi-diagram-2"></i>
                    Ver Reabastecimientos
                </button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col dataTableWindow">
            <table id="productos_table" class="table table-striped border">
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Disponible</th>
                    <th style="width:200px">Umbral aviso reabastecimiento</th>
                    <th>Último reabastecimiento</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="producto: ${productos}">
                    <td th:text="${producto.tipo}" th:class="${!mostrarEliminados && producto.cantidadActual <= producto.umbralAvisoReabastecimiento ? 'bg-warning' : ''}"></td>
                    <td th:text="${producto.cantidadActual == null ? '0.00' : #numbers.formatDecimal(producto.cantidadActual, 1, 2)} + ' litro/s'" th:class="${!mostrarEliminados && producto.cantidadActual <= producto.umbralAvisoReabastecimiento ? 'bg-warning' : ''}"></td>
                    <td th:text="${producto.umbralAvisoReabastecimiento == null ? 'Sin aviso' : #numbers.formatDecimal(producto.umbralAvisoReabastecimiento, 1, 2)} + ' litro/s'" th:class="${!mostrarEliminados && producto.cantidadActual <= producto.umbralAvisoReabastecimiento ? 'bg-warning' : ''}"></td>
                    <td th:text="${producto.reabastecimientos != null && producto.reabastecimientos.size() > 0 ? #dates.format(producto.reabastecimientos.get(producto.reabastecimientos.size() - 1).fecha, 'dd/MM/yyyy') : 'Nunca'}" th:class="${!mostrarEliminados && producto.cantidadActual <= producto.umbralAvisoReabastecimiento ? 'bg-warning' : ''}"></td>
                    <td th:class="${!mostrarEliminados && producto.cantidadActual <= producto.umbralAvisoReabastecimiento ? 'bg-warning' : ''}">
                        <a th:if="${!mostrarEliminados}" class="d-inline nav-link" th:href="@{/productos/reabastecimientos/nuevo/{id}(id=${producto.id})}">
                            <button class="btn btn-sm btn-primary">
                                <i class="bi bi-node-plus"></i>
                                Cargar Reabastecimiento
                            </button>
                        </a>
                        <a th:if="${!mostrarEliminados}" title="Editar" class="d-inline nav-link" th:href="@{/productos/editar/{id}(id=${producto.id})}">
                            <button class="btn btn-sm btn-secondary text-dark fs-6">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </a>
                        <a th:if="${!mostrarEliminados}" title="Eliminar" class="d-inline nav-link" th:onclick="'eliminarProducto('+${producto.id}+', this.parentNode.parentNode)'">
                            <button class="btn btn-sm btn-danger text-dark fs-6">
                                <i class="bi bi-trash"></i>
                            </button>
                        </a>
                        <a th:if="${mostrarEliminados}" title="Restaurar" class="d-inline nav-link" th:onclick="'restaurarProducto('+${producto.id}+', this.parentNode.parentNode)'">
                            <button class="btn btn-sm btn-warning text-dark fs-6">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<footer th:replace="~{components/imports :: footer}"></footer>
<script>
    var productos_table = createTable('productos_table');
    function eliminarProducto(productoId, elem){
        sweet_confirm("Eliminar producto", "¿Desea eliminar el producto?", "Si, eliminar", "Cerrar").
        then( (result)=>{
            if(result.isConfirmed){
                return new Promise((resolve, reject) => {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: "/productos/eliminar/" + productoId,
                        dataType: 'json',
                        success: function(result) {
                            resolve("OK");
                        },
                        error: function(err) {
                            reject(err);
                        }
                    });
                }).then(()=>{
                    productos_table.row(elem).remove().draw();
                    notyf.open({
                        type: 'success',
                        message: 'El producto fue eliminado correctamente.'
                    });
                    let productos_table_body = $("#productos_table tbody");
                    if(productos_table_body.children.length <= 1){
                        productos_table_body.append('<tr class="odd"><td valign="top" colspan="9" class="dataTables_empty">Ningún dato disponible en esta tabla</td></tr>');
                    }
                }).catch((err)=>{
                    notyf.open({
                        type: 'error',
                        message: err.responseJSON.msg
                    });
                    console.log(err)}
                );
            }
        });
    }
    function restaurarProducto(productoId, elem){
        sweet_confirm("Restaurar producto", "¿Desea restaurar el producto?", "Si, restaurar", "Cerrar").
        then( (result)=>{
            if(result.isConfirmed){
                return new Promise((resolve, reject) => {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: "/productos/restaurar/" + productoId,
                        dataType: 'json',
                        success: function(result) {
                            resolve("OK");
                        },
                        error: function(err) {
                            reject(err);
                        }
                    });
                }).then(()=>{
                    productos_table.row(elem).remove().draw();
                    notyf.open({
                        type: 'success',
                        message: 'El producto fue restaurado correctamente.'
                    });
                    let productos_table_body = $("#productos_table tbody");
                    if(productos_table_body.children.length <= 1){
                        productos_table_body.append('<tr class="odd"><td valign="top" colspan="9" class="dataTables_empty">Ningún dato disponible en esta tabla</td></tr>');
                    }
                }).catch((err)=> {
                    console.log(err)
                    notyf.open({
                        type: 'error',
                        message: err.responseJSON.msg
                    });
                });
            }
        });
    }
</script>
<div th:replace="~{components/topmenu :: messages}"></div>
</html>