<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/imports :: head}"></head>
<body>
<div th:replace="~{components/topmenu :: navbar}"></div>
<div class="container-fluid">
  <div th:replace="~{components/topmenu :: messages}"></div>
  <div class="row mb-2">
    <div class="col">
      <a class="float-start" th:href="@{/productos/inventario}">
        <button class="btn btn-secondary">
          Volver
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form enctype="multipart/form-data" method="post" th:action="@{/productos/guardar}" th:object="${producto}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{reabastecimientos}">
        <input type="hidden" th:field="*{historialProductoPedidos}">
        <table class="table table-bordered">
          <tr>
            <td><i style="color:red;font-weight: bold">* </i>Tipo</td>
            <td style="width: 70%">
              <input class="form-control" th:errorclass="'border border-danger'" th:field="*{tipo}"
                     type="text"/>
              <small class="text-danger" th:errors="*{tipo}"
                     th:if="${#fields.hasErrors('tipo')}"></small>
            </td>
          </tr>
          <tr>
            <td><i style="color:red;font-weight: bold">* </i>Cantidad usada por tipo de pedido</td>
            <td>
              <ul style="width:400px;max-height: 350px;overflow: scroll;direction: rtl;">
                <li th:each="tipoPedidoProducto, iter : *{tipoPedidoProductoMapping}" style="direction:ltr;justify-content: start;display: flex;" class="mb-3">
                  <label th:text="*{tipoPedidoProductoMapping[__${iter.index}__].tipoPedido.descripcion + ':'}" style="margin-top:5px"></label>
                  <input type="hidden" th:field="*{tipoPedidoProductoMapping[__${iter.index}__].tipoPedido}">
                  <input type="hidden" th:field="*{tipoPedidoProductoMapping[__${iter.index}__].producto}">
                  <input type="hidden" th:field="*{tipoPedidoProductoMapping[__${iter.index}__].id}">
                  <input class="form-control ms-2 w-25 d-inline" type="number" step="0.01" min="0.00" th:field="*{tipoPedidoProductoMapping[__${iter.index}__].cantidadUsada}" />
                  <small class="text-danger" th:errors="*{tipoPedidoProductoMapping}"
                         th:if="${#fields.hasErrors('tipoPedidoProductoMapping')}"></small>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><i style="color:red;font-weight: bold">* </i>Cantidad actual</td>
            <td>
              <input class="form-control w-15" th:errorclass="'border border-danger'" th:field="*{cantidadActual}"
                     type="number" step="0.01" min="0.00" th:readonly="${(producto.reabastecimientos != null && producto.reabastecimientos.size() > 0) || (producto.historialProductoPedidos != null && producto.historialProductoPedidos.size() > 0)}"/>
              <span class="text-warning" th:if="${(producto.reabastecimientos != null && producto.reabastecimientos.size() > 0) || (producto.historialProductoPedidos != null && producto.historialProductoPedidos.size() > 0)}">No es posible editar la cantidad actual de un producto que ya haya sido reabastecido o ya haya sido usado en pedidos</span>
              <small class="text-danger" th:errors="*{cantidadActual}"
                     th:if="${#fields.hasErrors('cantidadActual')}"></small>
            </td>
          </tr>
          <tr>
            <td><i style="color:red;font-weight: bold">* </i>Umbral de aviso de reabastecimiento</td>
            <td>
              <input class="form-control w-15" th:errorclass="'border border-danger'" th:field="*{umbralAvisoReabastecimiento}"
                     type="number" step="0.1" min="0"/>
              <small class="text-danger" th:errors="*{umbralAvisoReabastecimiento}"
                     th:if="${#fields.hasErrors('umbralAvisoReabastecimiento')}"></small>
            </td>
          </tr>
        </table>
        <div class="d-flex justify-content-center">
          <input class="btn btn-primary" type="submit" value="Guardar"/>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
<footer th:replace="~{components/imports :: footer}"></footer>
</html>