<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/imports :: head}"></head>
<body>
<div th:replace="~{components/topmenu :: navbar}"></div>
<div class="container-fluid">
  <div th:replace="~{components/topmenu :: messages}"></div>
  <div class="row mb-1">
    <div class="col">
      <a class="float-start ms-n25" th:href="@{/}">
        <button class="btn btn-secondary">
          Volver
        </button>
      </a>
      <!--<a class="float-end me-n25" th:href="@{/maquinas/guardar}">
        <button class="btn btn-success">
          <i class="bi bi-floppy-fill"></i> Guardar
        </button>
      </a>-->
    </div>
  </div>
</div>
</body>
<footer th:replace="~{components/imports :: footer}"></footer>
</html>