<!DOCTYPE html>
<!--suppress RequiredAttributes -->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="maquinas(lavadorasPedidosMap, secadorasPedidosMap)" class="col-8 container-maquinas">
  <div class="row">
    <div class="col-6 border-start border-end border-black border-2" >
      <h5 class="text-center">LAVADO</h5>
      <div class="row">
        <!-- lavadoras -->
        <div class="col-6" th:each="maquinaLavadora : ${lavadorasPedidosMap}" >
          <div th:class="${'card p-0 col-12 user-select-none maquina lavadora '+(maquinaLavadora.value != null ? 'activa':'')}"  data-tipo="lavadora">
            <div class="card-header">
              <i class="material-icons">
                local_laundry_service
              </i>
              <span style="vertical-align: super" th:text="${'Lavadora '+ maquinaLavadora.key}"></span>
            </div>
            <div class="card-body d-flex justify-content-center">
              <p class="sin-pedido-text card-text h6 text-muted text-center m-0 p-0 mt-5 position-absolute">Sin pedido asignado</p>
              <ul class="pedido-asignado" data-tipo="lavadora">
                <li th:if="${maquinaLavadora.value != null}" th:with="pedido = ${maquinaLavadora.value}" role="button" th:class="'pedido card my-2 border-2 user-select-none  ' + ${pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).URGENTE || pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).PRIORITARIO ? 'border-danger rounded-3' : ''}">
                  <div  th:class="'p-0 card-header text-center ' + ${pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).URGENTE ? 'bg-danger' : (pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).PRIORITARIO ? 'bg-danger-subtle':'')}">
                    <i class="material-icons" style="font-size:21px;margin-left:-1rem">
                      receipt_long
                    </i>
                    <span th:text="${'Pedido ' + pedido.id}" style="vertical-align: super;"></span>
                  </div>
                  <div th:class="'p-0 card-body ' + ${pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).URGENTE? 'bg-danger-subtle' : ''}">
                    <p class="px-2 py-1 card-text">
                      <span th:text="'• '+${pedido.tipo.descripcion}"></span><br/>
                      <span th:text="'• '+${pedido.cliente.nombreApellido}"></span>
                      <input class="pedidoId" type="hidden" th:value="${pedido.id}">
                    </p>
                  </div>
                  <div th:class="'p-0 card-footer text-center text-muted ' + ${pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).URGENTE ? 'bg-danger' : (pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).PRIORITARIO ? 'bg-danger-subtle':'')}">
                    <small th:text="${#dates.format(pedido.fechaHoraIngreso, 'dd/MM/yyyy')}"></small>
                  </div>
                </li>
              </ul>
              <input type="hidden" class="maquinaNumero" th:value="${maquinaLavadora.key}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 border-end border-black border-2" >
      <h5 class="text-center">SECADO</h5>
      <div class="row">
        <div class="col-6" th:each="maquinaSecadora : ${secadorasPedidosMap}" >
            <!-- secadoras -->
              <div th:class="${'card p-0 col-12 user-select-none maquina secadora '+(maquinaSecadora.value != null ? 'activa':'')}" data-tipo="secadora">
                <div class="card-header">
                  <i class="material-icons">
                    dry_cleaning
                  </i>
                  <span style="vertical-align: super" th:text="${'Secadora '+ maquinaSecadora.key}"></span>
                </div>
                <div class="card-body d-flex justify-content-center">
                  <p class="sin-pedido-text card-text h6 text-muted text-center m-0 p-0 mt-5 position-absolute">Sin pedido asignado</p>
                  <ul class="pedido-asignado" data-tipo="secadora">
                    <li th:if="${maquinaSecadora.value != null}" th:with="pedido = ${maquinaSecadora.value}" role="button" th:class="'pedido card my-2 border-2 user-select-none  ' + ${pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).URGENTE || pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).PRIORITARIO ? 'border-danger rounded-3' : ''}">
                      <div  th:class="'p-0 card-header text-center ' + ${pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).URGENTE ? 'bg-danger' : (pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).PRIORITARIO ? 'bg-danger-subtle':'')}">
                        <i class="material-icons" style="font-size:21px;margin-left:-1rem">
                          receipt_long
                        </i>
                        <span th:text="${'Pedido ' + pedido.id}" style="vertical-align: super;"></span>
                      </div>
                      <div th:class="'p-0 card-body ' + ${pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).URGENTE? 'bg-danger-subtle' : ''}">
                        <p class="px-2 py-1 card-text">
                          <span th:text="'• '+${pedido.tipo.descripcion}"></span><br/>
                          <span th:text="'• '+${pedido.cliente.nombreApellido}"></span>
                          <input class="pedidoId" type="hidden" th:value="${pedido.id}">
                        </p>
                      </div>
                      <div th:class="'p-0 card-footer text-center text-muted ' + ${pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).URGENTE ? 'bg-danger' : (pedido.prioridad == T(com.burbujas.gestionlimpia.models.entities.enums.Prioridad).PRIORITARIO ? 'bg-danger-subtle':'')}">
                        <small th:text="${#dates.format(pedido.fechaHoraIngreso, 'dd/MM/yyyy')}"></small>
                      </div>
                    </li>
                  </ul>
                  <input type="hidden" class="maquinaNumero" th:value="${maquinaSecadora.key}">
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:fragment="pedidos_js">
  <script src="webjars/interactjs/1.10.17/dist/interact.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(evt){
      // hago pedidos draggables
      var dragging = false;
      var duplicate_pedido;
      var last_maquina_tipo;
      var last_maquina;
      function dragMoveListener (event) {
        // permite mover los pedidos
        if(!dragging){
          duplicate_pedido = event.target.cloneNode(true);
          duplicate_pedido.setAttribute('disabled',true);
          event.target.after(duplicate_pedido);
          //aplico estilos al duplicado, para que sea vea debajo del que estoy arrastrando, que este gris y no desplace los pedidos siguientes
          duplicate_pedido.style.cssText = 'z-index:5;filter:brightness(50%)';
          if(last_maquina_tipo !== 'pendientes') {
            duplicate_pedido.style.transform = 'translateY(-' + (12 + duplicate_pedido.offsetHeight) + 'px)';
          }
          dragging = true;
          event.target.style.zIndex = '9999';
          if(event.target.closest('.maquina') !== null){
            event.target.closest('.maquina').style.zIndex = '999';
          }
          if(event.target.closest('.container-pedidos') !== null){
            event.target.closest('.container-pedidos').style.zIndex = '999';
          }
          document.querySelector('.container-pedidos #pedidosList').style.overflowX = 'unset';
          document.querySelector('.container-pedidos #pedidosList').style.overflowY = 'unset';
          document.querySelector('.container-pedidos #pedidosList').style.overflow = 'hidden';
        }
        let target = event.target;

        // keep the dragged position in the data-x/data-y attributes
        let x = parseFloat(target.getAttribute('data-x')) + event.dx;
        let y = parseFloat(target.getAttribute('data-y')) + event.dy;

        // translate the element
        target.style.transform = 'translate(' + x + 'px, ' + y + 'px)'

        // update the position attributes
        target.setAttribute('data-x', x)
        target.setAttribute('data-y', y)
      }
      function setInitialCoords(event){
          last_maquina = event.target.parentNode.parentNode.parentNode;
          last_maquina_tipo = event.target.parentNode.dataset.tipo;
          event.target.setAttribute('data-x', parseFloat(0));
          event.target.setAttribute('data-y', parseFloat(0));
          if(last_maquina_tipo === 'pendientes'){
            event.target.style.position = 'absolute';
            event.target.style.top  = (event.clientY - (event.target.offsetHeight/2)).toString()+'px';
            event.target.style.left = (event.clientX - (event.target.offsetWidth/2)).toString()+'px';
          }
      }
      function onDropCheck(event){
        if(dragging){ // si no se soltó dentro de una máquina, el duplicado reemplaza el original y borro el original
          interact(duplicate_pedido) // activo la acción draggable para el duplicado
          .draggable({
            listeners: {
              start: setInitialCoords,
              move : dragMoveListener,
              end : onDropCheck
            }
          });
          event.target.remove(); //elimino el original que quedó flotando fuera del listado
          dragging = false;
          event.target.style.zIndex = '0';
          if(event.target.closest('.maquina') !== null){
            event.target.closest('.maquina').style.zIndex = '0';
          }
          if(event.target.closest('.container-pedidos') !== null){
            event.target.closest('.container-pedidos').style.zIndex = '0';
          }
        }
        duplicate_pedido.style.left = ''
        duplicate_pedido.style.top = ''
        duplicate_pedido.style.transform = ''
        duplicate_pedido.style.position = '';
        duplicate_pedido.style.marginBottom = '';
        duplicate_pedido.style.filter = '';
        duplicate_pedido.removeAttribute('disabled');
        document.querySelector('.container-pedidos #pedidosList').style.overflowX = 'hidden';
        document.querySelector('.container-pedidos #pedidosList').style.overflowY = 'scroll';
        document.querySelector('.container-pedidos #pedidosList').style.overflow = '';
      }
      interact('.pedido')
      .draggable({
        listeners: {
          start: setInitialCoords,
          move : dragMoveListener,
          end : onDropCheck
        }
      });

      // seteo las maquinas como dropzones para pedidos
      interact('.maquina').dropzone({
        // only accept elements matching this CSS selector
        accept: '.pedido',
        // Require a 50% element overlap for a drop to be possible
        overlap: 0.5,

        // listen for drop related events:
        ondropactivate: function (event) {
          // add active dropzone feedback
          event.target.classList.add('drop-active');
        },
        ondragenter: function (event) {
          let dropzoneElement = event.target
          // feedback the possibility of a drop
          dropzoneElement.classList.add('drop-target');
        },
        ondragleave: function (event) {
          // remove the drop feedback style
          event.target.classList.remove('drop-target');
        },
        ondrop: function (event) {
          // event.target es la maquina
          // event relatedTarget es el pedido
          dragging = false;
          event.relatedTarget.style.transform = ''
          event.relatedTarget.style.position = '';
          event.relatedTarget.style.left = ''
          event.relatedTarget.style.top = ''
          event.relatedTarget.style.marginBottom = '';
          event.relatedTarget.style.filter = '';
          duplicate_pedido.remove();// cuando se suelta dentro de una maquina, elimino el duplicado que esta en el listado/máquina anterior

          let misma_maquina = last_maquina === event.target;
          let misma_maquina_tipo = last_maquina_tipo === event.target.dataset.tipo;
          if(misma_maquina){
            //si lo agarré y solté dentro de la mismo máquina, no hago nada
            return;
          }else if(misma_maquina_tipo){
            //si lo agarré y solté dentro del mismo tipo de máquina, aviso y no hago nada
            notyf.open({
              type: 'error',
              message: 'El pedido ya se encuentra asignado a una ' + last_maquina_tipo
            });
            return;
          }

          let pedidoId = event.relatedTarget.querySelector(".pedidoId").value;
          let maquinaNumero = event.target.querySelector(".maquinaNumero").value;

          // trigger del cambio de estado en el pedido
          asignarPedidoAMaquina(pedidoId, maquinaNumero, forzar=false)
          .then(
            ()=>{
              // muestro el que solté en la maquina actual, y le pongo clase activa
              let pedidoAsignado = event.target.querySelector(".pedido-asignado");
              pedidoAsignado.appendChild(event.relatedTarget);
              pedidoAsignado.classList.remove('d-none');
              event.target.classList.add('activa');
              notyf.open({
                type: 'success',
                message: 'Pedido asignado correctamente.'
              });
              last_maquina.classList.remove('activa');
            }
          ).catch(
            (error)=>{
              console.log(error);
              notyf.open({
                type: 'error',
                message: error.responseJSON.msg
              });
            }
          );

          // si no hay mas pedidos por realizar muestro texto dentro del contenedor de pedidos
          if($(".container-pedidos #pedidosList").children().length > 0){
            $(".container-pedidos #sinPedidos").addClass("d-none");
          }else{
            $(".container-pedidos #sinPedidos").removeClass("d-none");
          }
        },
        ondropdeactivate: function (event) {
          // remove active dropzone feedback
          event.target.classList.remove('drop-active');
          event.target.classList.remove('drop-target');
        }
      });

      interact('.container-pedidos').dropzone({
          // only accept elements matching this CSS selector
          accept: '.pedido',
          // Require a 35% element overlap for a drop to be possible
          overlap: 0.35,

          // listen for drop related events:
          ondropactivate: function (event) {
            // add active dropzone feedback
            event.target.classList.add('drop-active')
          },
          ondragenter: function (event) {
            // feedback the possibility of a drop
            event.target.classList.add('drop-target');
          },
          ondragleave: function (event) {
            // remove the drop feedback style
            event.target.classList.remove('drop-target');
          },
          ondrop: function (event) {
            dragging = false;
            // event.target es container-pedidos
            // event.relatedTarget es el pedido arrastrado
            event.relatedTarget.style.transform = ''
            event.relatedTarget.style.position = '';
            event.relatedTarget.style.marginBottom = '';
            event.relatedTarget.style.filter = '';
            event.relatedTarget.style.top = '';
            event.relatedTarget.style.left = '';

            // cuando se suelta en el listado, elimino el duplicado que esta dentro de una maquina
            duplicate_pedido.remove();

            let misma_maquina = last_maquina_tipo === event.target.dataset.tipo;

            if(misma_maquina){
              //si lo agarré y solté dentro del mismo container de pedidos, no hago nada
              return;
            }

            let pedidoId = event.relatedTarget.querySelector(".pedidoId").value;
            // trigger del cambio de estado en el pedido
            if(cambiarEstadoPedido(pedidoId, "PENDIENTE")){
              // muestro el que solté en el listado de pendientes
              event.target.querySelector("#pedidosList").appendChild(event.relatedTarget);

              // si ahora hay mas pedidos por realizar, oculto el texto dentro del contenedor de pedidos
              if($(".container-pedidos #pedidosList").children().length > 0){
                $(".container-pedidos #sinPedidos").addClass("d-none");
              }else{
                $(".container-pedidos #sinPedidos").removeClass("d-none");
              }
              last_maquina.classList.remove('activa');
            }
          },
          ondropdeactivate: function (event) {
            event.target.classList.remove('drop-active');
            event.target.classList.remove('drop-target');
          }
      });

      interact('.finalizar').dropzone({
        accept: '.pedido',
        overlap: 0.5,
        ondropactivate: function (event) {
          event.target.classList.add('drop-active')
        },
        ondragenter: function (event) {
          let dropzoneElement = event.target
          dropzoneElement.classList.add('drop-target');
        },
        ondragleave: function (event) {
          event.target.classList.remove('drop-target');
        },
        ondrop: function (event) {
          sweet_confirm("Finalizar Pedido", "¿Desea finalizar el pedido?", "Si, finalizar", "Volver").
             then((result)=>{
            // event.target es la máquina de finalización
            // event.relatedTarget es el pedido arrastrado
            dragging = false;

            // event.target es la máquina de cancelación
            // event.relatedTarget es el pedido arrastrado
            duplicate_pedido.style.transform = ''
            duplicate_pedido.style.position = '';
            duplicate_pedido.style.marginBottom = '';
            duplicate_pedido.style.filter = '';

            // y el que se estaba arrastrando tmb
            event.relatedTarget.remove();

            event.relatedTarget.style.transform = ''
            event.relatedTarget.style.position = '';

            if(result.isConfirmed){
              let pedidoId = event.relatedTarget.querySelector(".pedidoId").value;

              // trigger del cambio de estado en el pedido
              cambiarEstadoPedido(pedidoId, "FINALIZADO")
                .then(()=>{
                  // cuando se finaliza, elimino el duplicado que esta dentro de una maquina
                    duplicate_pedido.remove();
                    notyf.open({
                      type: 'success',
                      message: 'Pedido finalizado correctamente.'
                    });
                    last_maquina.classList.remove('activa');
                  }
                ).catch(
                  (error)=>{
                    console.log(error);
                    notyf.open({
                      type: 'error',
                      message: error.responseJSON.msg
                    });
                  }
                );
            }

          })
        },
        ondropdeactivate: function (event) {
          // remove active dropzone feedback
          event.target.classList.remove('drop-active');
          event.target.classList.remove('drop-target');
        }
      });

      interact('.cancelar').dropzone({
        accept: '.pedido',
        overlap: 0.5,
        ondropactivate: function (event) {
          event.target.classList.add('drop-active')
        },
        ondragenter: function (event) {
          let dropzoneElement = event.target
          dropzoneElement.classList.add('drop-target');
        },
        ondragleave: function (event) {
          event.target.classList.remove('drop-target');
        },
        ondrop: function (event) {
          sweet_confirm("Cancelar Pedido", "¿Desea cancelar el pedido?", "Si, cancelar", "Volver").
          then( (result)=>{
            dragging = false;

            // event.target es la máquina de cancelación
            // event.relatedTarget es el pedido arrastrado
            duplicate_pedido.style.transform = ''
            duplicate_pedido.style.position = '';
            duplicate_pedido.style.marginBottom = '';
            duplicate_pedido.style.filter = '';

            // elimino el que se estaba arrastrando
            event.relatedTarget.remove();
            if(result.isConfirmed) {

              let pedidoId = event.relatedTarget.querySelector(".pedidoId").value;

              // trigger del cambio de estado en el pedido
              cambiarEstadoPedido(pedidoId, "CANCELADO")
                .then(()=>{
                  // cuando se cancela, elimino el duplicado que esta dentro de una maquina
                  duplicate_pedido.remove();
                  notyf.open({
                    type: 'success',
                    message: 'Pedido cancelado correctamente.'
                  });
                  last_maquina.classList.remove('activa');
                }).catch(
                  (error)=>{
                    console.log(error);
                    notyf.open({
                      type: 'error',
                      message: error.responseJSON.msg
                    });
                  }
              );
            }
          });
        },
        ondropdeactivate: function (event) {
          // remove active dropzone feedback
          event.target.classList.remove('drop-active');
          event.target.classList.remove('drop-target');
        }
      });
    });

    const asignarPedidoAMaquina = (pedidoId, maquinaNumero, forzar) => {
      return new Promise((resolve, reject) => {
        $.ajax({
          type : "POST",
          contentType : "application/json",
          url : "/pedidos/"+pedidoId+"/maquina/"+maquinaNumero+"/"+forzar,
          dataType: 'json',
          success : function(result) {
            if (result.status === "ERROR") {
              reject(result.msg);
              // volver ponerlo en la máquina que estaba antes
            }else if(result.status === "REPETIDO"){
              // si HttpStatus es OK pero result.status es REPETIDO,
              // es pq ya pasó por este estado... pregunto si quiere repetirlo
              sweet_confirm("Atención", result.msg, "Si, asignar", "Volver").
              then( (result)=>{
                if(result.isConfirmed){
                  asignarPedidoAMaquina(pedidoId, maquinaNumero, true)
                  .then(()=>resolve())
                  .catch((error)=>reject(error))
                }
              });
            }else{
              resolve();
            }
          },
          error : function(err) {
            reject(err.responseJSON.msg)
          }
        });
      });
    }

    const cambiarEstadoPedido = (pedidoId, estado) => {
      return new Promise((resolve, reject) => {
        $.ajax({
          type: "POST",
          contentType: "application/json",
          url: "/pedidos/" + pedidoId + "/estado/" + estado,
          dataType: 'json',
          success: function(result) {
            if (result.status !== "OK") {
              // si hay error, mostrarlo por pantalla y volver a poner el pedido en el listado de pendientes
              reject(result.msg);
            } else {
              resolve();
            }
          },
          error: function(err) {
            reject(err.responseJSON.msg);
          }
        });
      });
    };

  </script>
<script>
</script>
</div>
</body>
</html>